@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>User @ViewData["User"]</p>
<p>@ViewData["E-mail"]</p>

<address>
    <strong>More Information! </strong>

</address>
